:root {
    /* Colors */
    --background-black: hsla(231, 15%, 18%, 1);
    --purple: hsla(265, 89%, 78%, 1);
}

body {
    background-color: var(--background-black);
    color: var(--purple);
    font-family: "Whyte", sans-serif;
}

main {
    margin: auto;
    width: 80%;
}

img {
    width: 2rem;
}