/* Whyte */
@font-face {
    font-family: "Whyte";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:url("./Whyte/Whyte-Regular.woff2") format("woff2"), 
        url("./Whyte/Whyte-Regular.woff") format("woff");
}
@font-face {
    font-family: "Whyte";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src:url("./Whyte/Whyte-RegularItalic.woff2") format("woff2"), 
        url("./Whyte/Whyte-RegularItalic.woff") format("woff");
}
@font-face {
    font-family: "Whyte";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:url("Whyte/Whyte-Bold.woff2") format("woff2"),
        url("Whyte/Whyte-Bold.woff") format("woff");
}

/* Whyte Inktrap */
@font-face {
    font-family: "WhyteInktrap";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:url("./WhyteInktrap/WhyteInktrap-Regular.woff2") format("woff2"), 
        url("./WhyteInktrap/WhyteInktrap-Regular.woff") format("woff");
}
@font-face {
    font-family: "WhyteInktrap";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:url("./WhyteInktrap/WhyteInktrap-Bold.woff2") format("woff2"), 
        url("WhyteInktrap/WhyteInktrap-Bold.woff") format("woff");
}
@font-face {
    font-family: "WhyteInktrap";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src:url("./WhyteInktrap/WhyteInktrap-BoldItalic.woff2") format("woff2"), 
        url("./WhyteInktrap/WhyteInktrap-BoldItalic.woff2") format("woff");
}

/* WhyteInktrapSemi-Mono */
@font-face {
    font-family: "WhyteInktrapSemi-Mono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:url("./WhyteInktrapSemi-Mono/WhyteInktrapSemi-Mono-Regular.woff2") format("woff2"), 
        url("./WhyteInktrapSemi-Mono/WhyteInktrapSemi-Mono-Regular.woff") format("woff");
}

/* 0xProto */
@font-face {
    font-family: '0xProto';
    font-weight: normal;
    font-style: normal;
    src:url('./0xproto/0xProto-Regular.woff2') format('woff2'),
        url('./0xproto/0xProto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: '0xProto';
    font-weight: normal;
    font-style: italic;
    src:url('./0xproto/0xProto-Italic.woff2') format('woff2'),
        url('./0xproto/0xProto-Italic.ttf') format('truetype');
}

/* 0xProto */
@font-face {
    font-family: '0xPropo';
    font-weight: normal;
    font-style: normal;
    src:url('./0xpropo/0xPropo-Medium.woff2') format('woff2'),
        url('./0xpropo/0xPropo-Medium.ttf') format('truetype');
}