@font-face {
    font-family: '0xPropo';
    src: url('./0xPropo-Medium.woff2') format('woff2'),
         url('./0xPropo-Medium.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}